.enlace {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
  }