
<div class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative">
    <img src="https://www.nicepng.com/png/full/218-2189846_cm-com-cm-logo.png" alt="Image" height="70"><span class="text-white"> CriptoManager</span>
    <a class="cursor-pointer block lg:hidden text-gray-400" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 px-6 lg:px-0 shadow-2 lg:shadow-none z-2">
        <section></section>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none border-gray-800 py-3 lg:py-0 mt-3 lg:mt-0">
            <button pButton pRipple label="Iniciar Sesión" class="p-button-text font-bold" routerLink="/login"></button>
            <button pButton pRipple label="Registrarse" class="ml-3 font-bold" routerLink="/registro"></button>
        </div>
    </div>
</div>
<div class="bg-gray-900 px-4 py-6 md:px-6 lg:px-6">
    <div class="flex flex-wrap">
        <div class="w-12 lg:w-6 p-4">
            <h1 class="text-6xl font-bold py-4 text-white mt-0 mb-3">Únete a Cripto Manager</h1>

            <p class="text-3xl text-gray-400 mt-0 mb-5">Tomá el control de tus finanzas.</p>
            <p class="text-3xl text-gray-400 mt-0 mb-5">Descubrí la manera mas simple de comprar y vender criptomonedas.</p>
            <div class="md:px-8 lg:px-8">
                <!-- <a type="button" href="#comenzar"  pButton pRipple label="Comenzar" class="block mt-7 mb-7 lg:mb-0 p-button-rounded p-button-success p-button-lg font-medium moveSection"></a> -->
            </div>       
        </div>
        <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
            <img src="assets/imgcripto1.png" alt="Image" class="w-full lg:w-auto">
        </div>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <span id="comenzar"></span>
    <div class="font-bold text-900 text-3xl mb-3 text-center">Operá con nosotros</div>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6 xl:w-3 p-5">
            <img src="assets/feature-illustration-1.svg" alt="Image" class="w-full">
            <div class="mt-3 mb-2 font-medium text-900 text-xl">Regístrate para iniciar a operar</div>
            <span class="text-700 line-height-3">Regístrate para operar en la plataforma más segura de Argentina.</span>
        </div>
        <div class="w-full lg:w-6 xl:w-3 p-5">
            <img src="assets/mercadopago_img.jpg" style="border-radius: 12px;" alt="Image" class="w-full">
            <div class="mt-3 mb-2 font-medium text-900 text-xl">Ingresá dinero por mercado pago</div>
            <span class="text-700 line-height-3">En unos simples pasos podrás ingresar dinero y operar con nosotros.</span>
        </div>
        <div class="w-full lg:w-6 xl:w-3 p-5">
            <img src="assets/feature-illustration-2.svg" alt="Image" class="w-full">
            <div class="mt-3 mb-2 font-medium text-900 text-xl">Comprá y vende criptomonedas</div>
            <span class="text-700 line-height-3">Tenemos una amplia variedad para que puedas elegir en que invertir.</span>
        </div>
        <div class="w-full lg:w-6 xl:w-3 p-5">
            <img src="assets/billeteracripto1.jpg" style="border-radius: 12px;" alt="Image" class="w-full">
            <div class="mt-3 mb-2 font-medium text-900 text-xl">Gestioná tus fondos como desees</div>
            <span class="text-700 line-height-3">Guardá tus fondos en nuestra billetera o retiralos cuando quieras.</span>
        </div>
    </div>
</div>

<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 text-center mb-1">Podrás invertir en</div>
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column">
                <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/1.png"  class="w-full" alt="Image" >
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Bitcoin</div>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column">
                <img   src="https://www.spectre.ai/assets/images/assets/ETH-logo.png?v=2.13"   alt="Image" class="w-full">
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Ethereum</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column">
                <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/825.png"  class="w-full" alt="Image" >
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Tether</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column">
                <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Binance-coin-bnb-logo.png/768px-Binance-coin-bnb-logo.png" class="w-full"  alt="Image" >
                <div class="mt-3 mb-2 font-medium text-900 text-xl">BinanceCoin</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column w-full">
                <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/2010.png"  alt="Image" class="w-full" >
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Cardano</div>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="text-center p-8 border-round flex flex-column w-full">
                <img src="https://www.cryptomkt.com/static/landing/img/crypto-pages/SOLANA.png" class="w-full" alt="Image">
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Solana</div>  
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column w-full">
                <img src="https://www.monedas.com/media/monedas/6263.png"  alt="Image" class="w-full">
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Polkadot</div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class=" text-center p-8 border-round flex flex-column w-full">
                <img src="https://s3.cointelegraph.com/storage/uploads/view/29ed45791e05861e48f43efd71a21abf.png"  alt="Image" class="w-full" >
                <div class="mt-3 mb-2 font-medium text-900 text-xl">Y más</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>