<p-toast position="top-right" key="block1"></p-toast>
<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
<div class=" d-flex justify-content-center mt-5" *ngIf="!seriesVacio">
  <p-progressSpinner class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
    </div>
    <div *ngIf="seriesVacio">
    <div id="chart" *ngIf="simbolo!='USDT' && simbolo!='DAI'">
        <apx-chart 
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"
        ></apx-chart>
    </div>
    
    <div class="grid p-fluid mt-4" *ngIf="cantCriptoWallet!=0">

      <div class="field col-12 md:col-4">
        <label  class="font-medium">Cantidad de {{simbolo}} a vender</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-coins"></i></span>
          <p-inputNumber [disabled]="cantCriptoWallet==0"  mode="decimal" [(ngModel)]="cantidadVenta" [max]="cantCriptoWallet"  (ngModelChange)="verificarMaximo($event)" [minFractionDigits]="4" [maxFractionDigits]="4"></p-inputNumber>
        </div>
      </div>
  
      <div class="field col-12 md:col-4">
        <label  class="font-medium">Cantidad Disponible</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-coins"></i></span>
          <p-inputNumber  mode="decimal" [(ngModel)]="cantCriptoWallet" [disabled]="true" [minFractionDigits]="4"  [maxFractionDigits]="4"></p-inputNumber>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <label  class="font-medium">Precio Actual de Venta</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">$</span>
          <p-inputNumber  mode="decimal" [(ngModel)]="precioActual" [disabled]="true" [minFractionDigits]="2"  [maxFractionDigits]="2"></p-inputNumber>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <label  class="font-medium">Total de venta ($)</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">$</span>
          <p-inputNumber  mode="decimal" [(ngModel)]="totalVenta" [disabled]="true" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
        </div>
      </div>

      <div class="field col-12 md:col-4 ">
      <br>
        <button  pButton label="Vender" (click)="venderCripto()"  class=" p-button-success mt-2" ></button>
      </div>

      <div class="field col-12 md:col-4 ">
        <br>
          <button  pButton label="Volver" (click)="cancelarVenta()"  class=" p-button-warn mt-2" ></button>
        </div>

    </div>

    <div *ngIf="cantCriptoWallet==0 && !loading">
      <div  class="mt-4 align-items-center text-center flex-column lg:flex-row p-4 bg-blue-300 ">
        <div class="text-blue-900  align-items-center  font-medium mr-0 lg:mr-2 mb-2 lg:mb-0 line-height-3">
          <b>No tiene saldo de {{simbolo}} en su cuenta para vender.</b><br>
        </div>
      </div>

      <div class="align-items-center text-center flex-column lg:flex-row">
        <button  pButton label="Volver a lista de venta" (click)="cancelarVenta()"  class=" p-button-warn mt-2" ></button>
      </div>

      <!-- <button  pButton label="Ir a Ingreso de Saldo" (click)="IrAIngreso()"  class="mercadoPagoColor mt-2" ></button> -->
    </div>

    </div>