
<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>

<div *ngIf="!loading" class="fadeInCripto">

<H2>Bienvenido {{nombre}} ! </H2>
<H3>Tu saldo actual para comprar criptomonedas es $ {{saldo | number : '1.2-2'}}</H3>

<div class="card mt-4" *ngIf="movimientos.length>0">
    <h3 class="text-center">Tus últimos movimientos</h3>
    <p-table [value]="movimientos" styleClass="p-datatable-striped"  responsiveLayout="scroll"  >
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center" >Operación</th>
                <th class="text-center px-1" >Criptomoneda</th>
                <th  class= "text-right px-3">Cantidad</th>
                <th class="text-right px-3 ">Invertido</th>
                <th class="text-center pl-2" >Fecha</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movimiento>
            <tr>
                <td class="text-center" >{{movimiento.operacion | uppercase}}</td>
                <td class="text-center px-1" >{{movimiento.cripto}}</td>
                <td class="text-right px-3" >{{movimiento.cantidad | number : '1.4-4'}}</td>
                <td class="text-right px-3" > $ {{movimiento.cantidadPesos | number : '1.2-2'}}</td>
                <td class="text-center pl-2" >{{movimiento.fecha}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="movimientos.length==0" class="align-items-center text-center flex-column lg:flex-row p-4 bg-blue-300 ">
    <div class="text-blue-900  align-items-center  font-medium mr-0 lg:mr-2 mb-2 lg:mb-0 line-height-3"><b>No exiten movimientos en la cuenta actualmente</b></div>
</div>


</div>