

<div class="px-4 py-6 md:px-6 fadeInCripto" *ngIf="!loading">
    <div class="text-2xl text-900 font-bold mb-2 text-center mb-6" >Preguntas Frecuentes sobre Cripto Manager</div>

    <p-accordion styleClass="mb-6" [activeIndex]="0">
        <p-accordionTab header="¿Qué es Cripto Manager?">
            <div class="line-height-3">
                CriptoManager es una plataforma que tiene el objetivo de facilitar la compra, 
                venta y alojamiento de criptomonedas , de manera simple , segura y en pesos argentinos.
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Cómo empezar a operar en la plataforma?">
            <div class="line-height-3">
                Para empezar a operar es muy sencillo. Primero debes registrarte en la plataforma y una vez creada tu cuenta
                ir a la sección de Ingreso, donde podrás ingresar dinero desde tu cuenta de mercado pago
                , ya sea mediante transferencia o tarjeta de crédito.  
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Cómo comprar criptomonedas?">
            <div class="line-height-3">
                Una vez que hayas ingresado dinero a la cuenta, podrás dirigirte a la sección Billetera/Comprar,
                donde se listarán las criptomonedas disponibles en CriptoManager, y luego elegir la que desees.
                Obtendrás toda la información sobre ella y podrás ingresar la cantidad que quieras comprar.
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Dónde se guardan mis criptos. Es seguro?">
            <div class="line-height-3">
                Una vez comprada una criptomoneda, automáticamente se guardarán en tu billetera creada 
                al momento de registrarte. Lo podrás ver en Billetera/Saldos. Tendrás toda la información 
                sobre ellas en cuanto al rendimiento obtenido, actualizado día a día, y podrás guardarlas 
                o venderlas cuando quieras. 
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Cómo vender criptomonedas?">
            <div class="line-height-3">
                En la sección Billetera/Vender , se listarán todas las criptomonedas en la que hayas 
                invertido. Podrás elegir una, obtendrás toda la información actual de la criptomoneda 
                elegida, y podrás indicar la cantidad de criptomoneda que quieras vender.
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Cómo retiro dinero de la plataforma?">
            <div class="line-height-3">
                Para retirar dinero de la plataforma deberás ir a la sección Retiro, ingresás el 
                monto que deseas retirar y listo , se envía automáticamente a tu cuenta de mercado pago.
            </div>
        </p-accordionTab>
        <p-accordionTab header="¿Qué pasa si doy de baja mi cuenta?">
            <div class="line-height-3">
                Si das de baja tu cuenta, se bloqueará el ingreso a Criptomanager para poder operar. 
                Asegúrate antes de la baja, de retirar todo tu dinero en billetera, si deseas dejar de operar con nosotros. 
            </div>
        </p-accordionTab>
     
        <p-accordionTab header="¿Cómo doy de alta mi cuenta nuevamente?">
            <div class="line-height-3">
                Si por alguna razón deseas recuperar tu cuenta, comunícate con nosotros, un administrador 
                 se encargará de realizar el alta de tu cuenta. O puedes iniciar con otro email y una cuenta desde 0, como desees.
            </div>
        </p-accordionTab>

    </p-accordion>
    <div class="border-1 border-round surface-border p-5 surface-50 flex flex-column align-items-center">

        <div class="font-medium text-xl mt-5 mb-3">No encontraste la respuesta que buscabas?</div>
        <p class="text-700 line-height-3 mt-0 mb-5">Contáctenos por los medios de comunicación publicados al final de la página de inicio</p>
        <button pButton pRipple label="Volver a página de inicio" (click)="volver()"  class="p-button-help"></button>
    </div>
</div>