<p-toast key="block3" [style]="{width: '30rem'}" [preventOpenDuplicates]="true">
    <ng-template let-message pTemplate="message">
        <div class="flex align-items-start flex-1">
            <i class="pi pi-envelope text-blue-500 text-2xl mr-3"></i>
            <div>
                <span class="text-xl font-medium text-900">{{message.summary}}</span>
                <p class="text-700 mt-3">{{message.detail}}</p>
            </div>
        </div>
    </ng-template>
</p-toast>

<div style="background: url('') no-repeat; background-size: cover" class="px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
    
        <div class=" lg:w-3 p-4 lg:p-7  "></div>
        <div class=" lg:w-6 p-4 lg:p-7 surface-card ">
            <div class="text-900 text-2xl font-medium mb-6">Recuperar Contraseña</div>

            <label for="email3" class="block text-900 font-medium mb-2"> Email</label>
            <input id="email3" #passwordResetEmail required type="text" pInputText class="w-full mb-4">

            <button *ngIf="!recuperacionExitosa" pButton pRipple label="Recuperar Contraseña" icon="pi pi-key" class="w-full"
            (click)="notify(passwordResetEmail.value)">
            </button>

            <button *ngIf="recuperacionExitosa" routerLink="/login" pButton pRipple label="Volver a login" icon="pi pi-user" class="w-full">
            </button>

        </div>
        <div  class=" lg:w-3 p-4 lg:p-7 "></div>
    </div>
</div>