<p-toast position="top-right" key="block3"></p-toast>
<p-toast position="top-right" key="block2"></p-toast>


<div  class="px-4 py-8 md:px-6 lg:px-8 fadeInCripto">
    <div class="py-5"></div>
    <div class="flex flex-wrap">
    
        <div class=" lg:w-3 p-4 lg:p-7  "></div>
        
        <div class=" lg:w-6 p-4 lg:p-7  surface-card" >
            <div class="text-900 text-2xl font-medium mb-6">Recuperar Contraseña</div>

            <label for="email3" class="block text-900 font-medium mb-2">Email</label>
            <input id="email3" #passwordResetEmail required type="text" pInputText class="w-full mb-4">

            <div class="grid">
                <div class="col-6">
                    <button  pButton pRipple label="Recuperar Contraseña" icon="pi pi-key" class="w-full p-button-success"
                    (click)="notify(passwordResetEmail.value)">
                    </button>
                    
                </div>
                <div class="col-6">
                    <button  routerLink="/login" pButton pRipple label="Volver a login" icon="pi pi-user" class="w-full">
                    </button>
                </div>
            </div>
        </div>
     
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>