<p-toast position="top-right" key="block2"></p-toast>
<div class="card">
   <div >
    <button  pButton label="Agregar" routerLink="/dashboard/criptomoneda/nueva" icon="pi pi-plus" class=" p-button-success mb-2" ></button>
    </div>
   <p-progressSpinner *ngIf="loading"  class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
    <p-table responsiveLayout="scroll"  [scrollable]="true" scrollHeight="500px" [value]="criptos" >
        <ng-template pTemplate="header" let-columns>
         
            <tr>
                <th >Imagen</th>
                <th>Símbolo</th>
                <th>Nombre</th>
                <th>Es Operable</th>
                <th>Precios</th>
                <th class="text-center">Acciones</th>
               
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-usuario let-columns="columns"> -->
            <ng-template pTemplate="body" let-cripto let-columns="columns">
            <tr>
                <td><span class="p-column-title">Imagen</span><img height="50" width="50" [src]="cripto.imagen" alt=""></td>
                <td ><span class="p-column-title center">Símbolo</span>{{cripto.simbolo}}</td>
                <td class="mr-4"><span class="p-column-title center"></span>{{cripto.nombre}}</td>
                <td class="mr-4"><span class="p-column-title center"></span>{{cripto.isOperable}}</td>
                <td ><span class="p-column-title center">Precios</span>
                    <button pButton pRipple icon="pi pi-eye" (click)="verPrecios(cripto)" class="p-button-rounded p-button-warning" ></button>
                </td>
                <td class="text-center"><span class="p-column-title">Acciones</span>
                  
                    <button pButton pRipple icon="pi pi-pencil" (click)="abrirPopEditar(cripto)" class="p-button-rounded p-button-info mr-2" ></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="abrirPopEliminar(cripto)" class="p-button-rounded p-button-danger" ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="popUpPrecios" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <ng-template  pTemplate="header">
        <div class="flex align-items-center ">
            <span class="font-medium text-center text-2xl text-900">Precios de {{nombreCripto}}</span>
        </div>
    </ng-template>
    <div class="field mb-1 col-12 md:col-12" >
        <label  class="font-medium text-900 md:col-6 col-6">Precio compra</label>
        <input class="mt-1" disabled [(ngModel)]="precioCompra" type="number" pInputText>

        <label  class="font-medium text-900 md:col-6 col-6">Precio venta</label>

        <input class="mt-1" disabled [(ngModel)]="precioVenta" type="number" pInputText>
    </div>
    <ng-template pTemplate="footer">
        <div class=" border-top-1 surface-border pt-1">
            <button pButton pRipple icon="pi pi-times" (click)="popUpPrecios = false" label="Cerrar" class="p-button-text"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="popUpEditar" appendTo="body" [modal]="true"  [breakpoints]="{'960px': '75vw', '640px': '150vw'}"  [style]="{width: '40vw'}">
    <p-progressSpinner *ngIf="loadingEditar" class="flex align-items-center justify-content-center" [style]="{width: '40px', height: '60px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
    <ng-template  pTemplate="header">
        <div class="flex align-items-center ">
            <span class="font-medium text-center text-2xl text-900">Editar {{simbolo}}</span>
        </div>
    </ng-template>
  
    <div class="field mb-1 col-12 md:col-12" >
        <label  class="font-medium text-900 md:col-6 col-6">Nombre de la criptomoneda</label>
        <input class="mt-1"  [(ngModel)]="nombreCripto" type="text" pInputText>
    </div>

    <div class="field col-12 md:col-12 justify-content-center" >
        <label  class="font-medium text-900 md:col-6 col-6">Operable</label>
        <p-checkbox [binary]="true" [(ngModel)]="isOperable" ></p-checkbox>
    </div>

    <ng-template pTemplate="footer">
        <div class=" border-top-1 surface-border pt-1">
            <button pButton pRipple icon="pi pi-times" (click)="popUpEditar = false" label="Cancelar" class="p-button-text"></button>
            <button pButton type="button" (click)="EditarCripto()" label="Aceptar" class="w-3 p-button-info"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="popUpEliminar" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <p-progressSpinner *ngIf="loadingBaja" class="flex align-items-center justify-content-center" [style]="{width: '40px', height: '40px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
    <ng-template  pTemplate="header">
        <div class="flex align-items-center ">
            <span class="font-medium text-center text-2xl text-900">Baja de criptomoneda {{nombreCripto}}</span>

        </div>
      
    </ng-template>
   
    <p>
        {{textoBaja}}
    </p>
    <ng-template pTemplate="footer">
        <div class=" border-top-1 surface-border pt-1">
            <button pButton pRipple icon="pi pi-times" (click)="popUpEliminar = false" label="Cancelar" class="p-button-text"></button>
            <button pButton type="button" (click)="EliminarCripto()" label="Baja" class="w-3 p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>