
<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
<div class="fadeInCripto surface-ground px-4 py-5 md:px-6 lg:px-8" *ngIf="!loading">
    <div class="grid">
        <div class="fadeInCripto  col-12 md:col-6 lg:col-3" *ngFor="let cripto of criptos">
            <div class="surface-card shadow-2 border-round cursor" (click)="comprarCripto(cripto.simbolo)">
                <div class="p-3 flex align-items-start">
                    <img [src]="cripto.imagen" style="width:32px; height: 32px" class="mr-2">
                    <div>
                        <span class="text-700">{{cripto.nombre}}</span>
                        <div [ngClass]="cripto.variacion >= 0 || undefined ? 'text-green-500' : 'text-red-500'"
                        class="text-xl mt-2">% {{cripto.variacion | number : '1.2-2'}} </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>