
<p-toast position="top-right" key="block1"></p-toast>
<p-progressSpinner *ngIf="load"  class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
<div class="card fadeInCripto" *ngIf="!load">
   <h3>Usuarios</h3>
    <p-table responsiveLayout="scroll"  [value]="usuarios" >
        <ng-template pTemplate="header" let-columns>
            <!-- <div >
            <button  pButton label="Nuevo" routerLink="/dashboard/usuario/nuevo" icon="pi pi-plus" class=" p-button-success mb-2" ></button>
            </div> -->
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Dni</th>
                <th>Rol</th>
                <th>Activo</th>
                <th></th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario let-columns="columns">
            <tr>
                <td><span class="p-column-title">Nombre</span>{{usuario.nombre}}</td>
                <td><span class="p-column-title">Apellido</span>{{usuario.apellido}}</td>
                <td><span class="p-column-title">Email</span>{{usuario.email}}</td>
                <td><span class="p-column-title">dni</span>{{usuario.dni}}</td>
                <td><span class="p-column-title">Rol</span>{{usuario.role}}</td>
                <td><span class="p-column-title">Activo</span>{{usuario.activo}}</td>
                <td><span class="p-column-title"></span>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editUser(usuario)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="modalBaja(usuario)"></button>
                </td>
                <!-- <td>  <span class="p-column-title">Borrar</span>  
                  
                </td> -->
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog [(visible)]="popUpBaja" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        <div class="flex align-items-center">
            <span class="flex align-items-center justify-content-center bg-red-100 text-cyan-800 mr-3 border-circle" style="width:32px;height:32px">
                <!-- <i class="pi-exclamation-triangle text-lg"></i> -->
                <!-- <i class="fa-regular fa-triangle-exclamation text-lg"></i> -->
                <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
            <span class="font-medium text-2xl text-900">Cerrar cuenta de CriptoManager</span>
        </div>
    </ng-template>
    <p class="line-height-3 p-0 m-0">
        {{textoBaja}}
    </p>
    <ng-template pTemplate="footer">
        <div class=" border-top-1 surface-border pt-3">
            <button pButton pRipple icon="pi pi-times" (click)="popUpBaja = false" label="Cancelar" class="p-button-text"></button>
            <button pButton type="button" (click)="bajaUsuario()" label="Aceptar" class="w-3 p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>
