
<p-toast position="top-right" key="block1"></p-toast>

<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Retiro de dinero de su cuenta</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sí" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<div class="field col-12 md:col-4 fadeInCripto" *ngIf="!loading">

    <label  class="font-medium">Saldo de la cuenta</label>
    <div class="p-inputgroup ">
        <span class="p-inputgroup-addon">$</span>
        <p-inputNumber  mode="decimal" [(ngModel)]="saldoUsuario" [disabled]="true"  [minFractionDigits]="2"></p-inputNumber>
    </div>

    <!-- <label for="city" class="font-medium mr-4">Saldo de la cuenta</label>
    <input type="text"  [(ngModel)]="saldoUsuario"  disabled pInputText> -->
</div>

<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
<div class="flex align-items-center justify-content-center mt-6 fadeInCripto"  *ngIf="!loading">
    
<p-card header="Retiro de dinero a Mercado Pago" [style]="{'width': '30rem', 'margin-bottom': '2em'}" class="text-center">
    <ng-template pTemplate="header">
    </ng-template> 

    <p-progressSpinner *ngIf="loadingRetiro" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
        <div class="field mb-4 mt-2" >
            <label for="city" class="font-medium mr-4">Cantidad a retirar</label>
            <p-inputNumber  mode="decimal" [max]="saldoUsuario" (keyup.enter)="retirarDinero()" (change)="precio(cantidad)" [(ngModel)]="cantidad"  [minFractionDigits]="2"></p-inputNumber>
            <!-- <input type="number" #cant (change)="precio(cant)"  [(ngModel)]="cantidad" pInputText> -->
        </div>
        <div class="field mb-2 mt-6 ">
                <button (click)="retirarDinero()" type="button"  
                class="mercadoPagoColor w-full" [disabled]="loadingRetiro">
                Retirar 
            </button>
          
        </div>


 </p-card>

</div>