
<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>

<div *ngIf="!loading" class="fadeInCripto">

<H3>Movimientos de moneda local en cuenta </H3>


<div class="p-fluid grid formgrid" *ngIf="!loading">
    
    <div class="field col-12 md:col-4">
        <label for="icon" class="mr-2">Mes a consultar</label>
        <p-calendar [(ngModel)]="mes" view="month" [showIcon]="true" dateFormat="mm/yy" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
    </div>
  
    <div class="field col-12 md:col-4 mt-2">
        <label for="icon" class="mr-2"></label>
        <button pButton type="button" (click)="buscar()" label="Buscar" ></button>
    </div>
    <div class="field mb-2 col-12 md:col-2 mt-2 " *ngIf="isGrafico">
        <label for="icon" class="mr-2"></label>
        <button  pButton label="Ver Detalle" (click)="verDetalle()"  class=" p-button-info" ></button>  
    </div>
    <div class="field mb-2 col-12 md:col-2 mt-2 " *ngIf="!isGrafico">
        <label for="icon" class="mr-2"></label>
        <button  pButton label="Ver Gráfico" (click)="verGrafico()"  class=" p-button-info" ></button>  
    </div>
    <div class="field mb-4 col-4 md:col-2   mt-2" >
        <label for="icon" class="mr-2"></label>
        <button pButton pRipple type="button" label="Exportar" (click)="openPDFGrafico()"  class="p-button-outlined p-button-warning justify-content-center"><i class="fa-solid fa-file-export" ></i></button> 
    </div>

</div>

<div class="card" *ngIf="movimientosPesos.length>0" id="grafico">

<div id="chart" style="  max-width: 500px;
margin: 35px auto;
padding: 0;" *ngIf="isGrafico">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [plotOptions]="chartOptions.plotOptions"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
<div *ngIf="!isGrafico">
    <h4>Detalle de ingresos y retiros</h4>
    <p-table [value]="movimientosPesos" [scrollable]="true"  scrollHeight="350px">
        <ng-template pTemplate="header">
            <tr>
                <th class="justify-content-center " >Fecha</th>
                <th  class="justify-content-end py-1 pr-8">Cantidad</th>
                <th class="justify-content-center pl-8" >Tipo de operación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movimiento>
            <tr>
                <td class="justify-content-center " >{{movimiento.fecha}}</td>                
                <td class="justify-content-end py-1 pr-8" >$ {{movimiento.cantidad }}</td>
                <td class="justify-content-center pl-8" >{{movimiento.tipo}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

</div>

<div *ngIf="movimientosPesos.length==0">
    <div  class="mt-4 align-items-center text-center flex-column lg:flex-row p-4 bg-blue-300 ">
      <div class="text-blue-900  align-items-center  font-medium mr-0 lg:mr-2 mb-2 lg:mb-0 line-height-3">
        <b>No existen movimientos de ingreso o retiro de dinero.</b><br>
      </div>
    </div>
</div>

</div>