    
<div class="surface-section px-4 md:px-6 lg:px-8">

    <div class="py-5 border-bottom-1 border-300">
       
    </div>
    <div class="flex justify-content-between align-items-center py-5">
        <span>&copy; 2022 Cripto Manager</span>
        <div class="flex align-items-center justify-content-between">
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-twitter text-xl"></i>
            </a>
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-facebook text-xl"></i>
            </a>
            <a class="cursor-pointer text-500 md:ml-3 ml-2">
                <i class="pi pi-github text-xl"></i>
            </a>
        </div>
    </div>
</div>