
<p-toast position="top-right" key="block1"></p-toast>

<div class="field  mt-2" class="fadeInCripto"  *ngIf="loadingPago">
    <label for="city" class="font-medium mr-4">Saldo de la cuenta</label>
    <input type="text" [(ngModel)]="saldoUsuario"  disabled pInputText>
</div>

<p-progressSpinner *ngIf="loading" class="flex align-items-center justify-content-center" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".6s"></p-progressSpinner>
<!-- <div class="text-center"  *ngIf="loadingPago">
    EN UNOS SEGUNDOS SERÁ REDIRECCIONADO HACIA MERCADOPAGO...
  </div> -->
<div class="flex align-items-center justify-content-center mt-6 fadeInCripto"  *ngIf="loadingPago">
<p-card header="Ingreso de dinero a CriptoManager" [style]="{'width': '30rem', 'margin-bottom': '2em'}" class="text-center">
    <ng-template pTemplate="header">
    </ng-template> 

    <form  [formGroup]="ingresoForm"
    (submit)="onBuy()"
    action="/procesar-pago"  method="POST">
    
        <div class="field mb-4 mt-2">
            <label for="city" class="font-medium mr-4">Cantidad a ingresar</label>
            <input type="number"  formControlName="cantidad" pInputText>
        </div>
        <div class="field mb-2 mt-6 ">
                <button type="button" (click)="onBuy()" 
                class="mercadoPagoColor w-full" id="mercadopago-button" [disabled]="!loadingPago ">
                Pagar Ahora
            </button>
        </div>
    </form>

 </p-card>

</div>